/******************************************************************************
    Forms
******************************************************************************/

// & combinator

label {
    display: block;
    font-size: .875em;
    text-align: left;
    
    &.error {
        color: @errorcolor;
    }
}

// @media queries
// Nesting!

fieldset {
    margin-bottom: 1em;
    
    .horizontal & {
        display: inline-block;
        max-width: 500px;
        vertical-align: top;
        
        @media only screen and ( max-width: @bigMobileSize ) {
            display: block;
            max-width: none;
            width: 100%;
        }
        
        > button {
            margin-top: 1em;
            @media only screen and ( max-width: @bigMobileSize ) {
                margin-top: 0;
            }
        }
    }
}

// Saved use two onerous lines of selectors

input[type="text"], input[type="date"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="url"], input[type="email"], input[type="number"], input[type="search"], input[type="file"], select, textarea, .textbox {
    background: #eeeeee;
    border: none;
    color: #888888;
    display: block;
    font-size: .875em;
    padding: 1em;
    width: 100%;
    
    &.error {
        border: 1px solid @errorcolor;
    }
}

button, .button, input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #7c93ca;
    border: 1px solid @linkcolor;
    color: white;
    cursor: pointer;
    font-size: .875em;
    padding: 1em;
}
