/******************************************************************************
    Layout
******************************************************************************/
header {
    .clearfix;
    background: white;
    position: relative;
    
    @media only screen and ( max-width: @bigMobileSize ) {
        text-align: center;
    }
    
    h1, h2 {
        position: absolute;
        font-size: 1.0em;
        left: 0;
        top: 0.5em;
        
        @media only screen and ( max-width: @bigMobileSize ) {
            position: static;
        }
    }
    
    nav {
        float: right;
        line-height: 2;
        margin: 0.5em 0;
        
        @media only screen and ( max-width: @bigMobileSize ) {
            float: none;
        }
        
        a {
            margin-left: 1em;
            
            &:first-child {
                margin-left: 0;
            }
            &.active {
                border-bottom: 2px solid @gradientStart;
            }
        }
    }
}

#main {
    margin-top: 4em;
    
    @media only screen and ( max-width: @bigMobileSize ) {
        margin-top: 0;
    }
    
    section {
        background: white;
        padding: 1em 0;
    }
}

footer {
    .clearfix;
    background: white;
    
    @media only screen and ( max-width: @smallMobileSize ) {
        text-align: center;
    }
    
    .branding {
        float: left;
        margin: 0.5em 0;
        
        @media only screen and ( max-width: @smallMobileSize ) {
            display: none;
        }
    }
    
    .follow {
        float: right;
        line-height: 2;
        margin: 0.5em 0;
        
        @media only screen and ( max-width: @smallMobileSize ) {
            float: none;
        }
        
        a {
            margin-left: 1em;
            
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
